.top-bar {
  width: 100%;
  background-color: #2F296B;
  height: 54px;
  position: relative;
}

.title {
  padding-top: 12px;
  color: white;
  position: absolute;
  left: 24px;
  font-size: 18px;
  cursor: pointer;
  height: 100%;
}

.title:hover {
  opacity: 0.8;
}